.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    align-items: center;
}
.tab {
    width: 100%;
}
.tab__list {
    /* width: 100%; */
}
.tab__list__selected {
    background-color: #424242;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.tab__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab__panel__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    grid-auto-rows: 320px;
    width: 90%;
    padding-bottom: 40px;
}
